Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
requests==2.10.0
wsgiref==0.1.2
python-google-places==1.2.0
googlemaps==2.4.4
tweepy==3.5.0
python-magic==0.4.12
git+git://github.com/Clarifai/clarifai-python.git
twilio==5.4.0
Pillow==3.1.1
dateparser==0.4.0
